/*tipos de selectores
selector de etiqueta
selector descendente
selector de id(los id son unicos, no se pueden repetir simbolo #)
selector de clase(las clases si se puede repetir simbolo .)*/
body{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
}

.hero{
    height: 300px;
    background-color: #1b2127;
    /*background-image: url(hero.jpg);
    background-size: 500px 300px;
    background-repeat: no-repeat;
    background-position-x: right;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hero_image{
    object-fit: cover;
}


h1{
    font-size: 40px;
    line-height: 1.5;
    letter-spacing: -.2px;
    /*text-transform: uppercase;
    text-decoration: underline;*/
    color: white;
    margin: 0;
    /*margin: 100px 150px 70px 30px;*/
}
h1 strong{
    color: #026fff;
}

h2{
    color: #026fff;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 40px;
}
.portfolio{
    background-color: #fafafa;
    padding: 20px;

}

.project{
    /*border-top: 10px solid red;
    border-right: 10px solid green;
    border-left: 10px solid orange;
    border-bottom: 10px solid pink;*/
    border: 1px solid gray;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 20px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.project_course,
.project_date,
.project_url{
    margin: 10px 0;
}

.project_description{
    font-size: 20px;
}


.project strong{
    font-family: 'Fjalla One', sans-serif;
}

.project_title{
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 0;
}

.project_details{
width: 50%;
}


.project_imageContainer{
    width: 50%;
}

.header{
background-color: #1b2127;
color: white;
display: flex;
height: 70px;
align-items: center ;
justify-content: space-between;
flex-wrap: wrap;
}

.header ol{
    display: flex;
    height: inherit;
}

.header ol li{
    height: inherit;
}




.header a {
    color: white;
    text-decoration: none;
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0 10px;

}



.menu{
    height: inherit;
}

ol,
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

figure{
    margin: 0;
}

footer{
    color: white;
    background-color: #1b2127;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer img{
    vertical-align: middle;
}

.footer a{
    color: white;
}

.event_list{
    display: flex;
    flex-wrap: wrap;

}

.event_list_title{

    margin-left: 20px;
}

.event{
    margin: 1%;
    width: 48%;
    border-radius: 10px;
    overflow: hidden;
    flex-shrink: 0;
    background-color: #f4fbff;
}

.event img{
    width: 480px;
    height: 200px;
    object-fit: cover;
}

.event_detail{
    margin:20px 40px;
    margin-top: -40px;
    background-color: white;
    position: relative;
    padding: 20px;
    text-align: center;
}

.event_description{
    text-align: left;
}

.event_url{
    color: #056fff;
    border: 1px solid;
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.contact{
  background-color: #056fff;
  color: white;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.social{

}

.social_link{
    display: inline-block;
    width:50px;
    height: 50px;
    margin: 0 10px;
    background-size: 50px 50px;
}

.social_link.twitter{
    background-image: url(twitter.png);
}

.social_link.facebook{
    background-image: url(facebook.png);
}

.social_link.github{
    background-image: url(github.png);
}

.social_link.instagram{
    background-image: url(instagram2.png);
}


.form_email input{
     border-color: gray;
     border-style: solid;
     padding: 10px 20px 10px 25px;
     background-image: url(email.png);
     background-size: 15px 15px;
     background-repeat: no-repeat;
     background-position-y: center;
     background-position-x: 5px;
}

.form_email button{
   display: block;
   background: transparent;
   color: white;
   padding:10px 0;
   border-radius: 5px;
   width: 100px;
   margin-top: 10px;
}


.form_email h3{
    font-family: 'Source Sans Pro', sans-serif;
}


.container{
    max-width: 1000px;
   /*  width: 100%; */
    flex: 1;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
}


@media screen and (max-width: 1024px){
    .container{
    padding: 0 1em;
   }
   .hero{
    height: auto;
    position: relative;
    overflow: hidden;
    padding: 2em;
}

.hero_image{
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
    width: 100%;
}
 h1{
     font-size: 2em;
     z-index: 2;
 }
 .html_video{
     width: 100%;
     height: auto;
 }
}


@media screen and (max-width:767px){

   
    .header {
        display: block;
        height: auto;
    }
    .header ol{
        display: block;
    }
    .header ol li{
        height: 50px;
        text-align: center;
    }
    .header a{
        justify-content: center;
    }

    .header .logo{
        text-align: center;
    }

    .project{
        display: block;
    }

    .project_imageContainer{
        width: auto;
        text-align: center;
    }

    .project_imageContainer img{
        max-width: 100%;
        width: 100%;
    }
    .project_details{
        width: auto;
       /*  font-size: 16px; */
    }

    .project_course, .project_date, .project_url{
        margin: .3em 0;

    }
    .project_title{
        font-size: 1.5em;
        margin-bottom: .3em;
    }
    .project_url{
        font-size: 1em;

    }
    .project_course{
        font-size: .7em;

    }
    .project_date{
        font-size: 1em;
    }
    .project_description{
        font-size: .8em;
    }

    .event{
        width: auto;
        flex-shrink: initial;
    }
    
    .event img{
        width: 100%;
        max-height: 250px;
        object-position: 25% 25%;
    }
}

@media screen and (max-width:516px){
    .contact{
        height: auto;
    }
}

@media screen and (max-width: 480px){
    h1{
        font-size: 1.5em;
    }
    .project_details{
       font-size: 12px;
    }
  .event_detail{
      margin: -2em .5em .5em .5em;
      padding: 1em;
  }
  .contact{
      height: auto;
      padding: 1.5em 0;
      text-align: center;
      display:block;
  }

  .form_email button{
      margin: 1em auto;
  }
  .form_email h3{
      margin-top: 0;
  }
  .footer{
      display: block;
      text-align: center;
      border: 1px solid transparent;
  }
}


@media screen and (max-width: 320px){
    h1{
        font-size: 1.2em;
        /* background: rgba(0,0,0,.5); */
    }
    .hero{
        padding: 2em 1em;
    }

}


